{
  "extends": "react-app",
  "rules": {
    "react/prop-types": [
      "warn",
      {
        "ignore": ["match", "history", "location"]
      }
    ],
    "react/no-unused-prop-types": "error",
    "react/sort-prop-types": "warn",
    "eqeqeq": [0],
    "no-useless-concat": [0],
    "import/no-extraneous-dependencies": "error",
    "import/no-nodejs-modules": "error",
    "jsx-a11y/href-no-hash": "off",
    "react/forbid-prop-types": ["warn"],
    "no-unused-vars": "warn"
  },
  "globals": {
    "google": true
  }
}

